/* =============================================================

    Alerts v1.0
    Simple alert messages by Chris Ferdinandi
    http://gomakethings.com

    Free to use under the MIT License.
    http://gomakethings.com/mit/
    
 * ============================================================= */

.alert {
    color: #926a00;
    background-color: #fff3d3;
    border: .071428571em solid #ffdc7c;
    margin-bottom: 1.529411765em;
    padding: .235294118em .823529412em;
    border-radius: .235294118em;
}

.alert-red {
    color: #5b090e;
    background-color: #f9c6c9;
    border: .071428571em solid #F48E93;
}

.alert-green {
    color: #255521;
    background-color: #d9f0d7;
    border: .071428571em solid #b3e0b0;
}
